@import "_swiper-bundle.scss";
@import "_normalize.scss";
@import "_default.scss";
@import "_variables.scss";
@import "aos.scss";
@import "preloader.scss";
@import "selectric.scss";
@import "pagination.scss";


$px: .0520833333333; //1920
$pxt: .0714285714285714; //1400
$pxtm: .09765625; //1024
$pxmb: .1302083333333333; //768
$pxm: .3125; //320
$main-bg: #283780;
$main-gray: #F5F5F5;
$transition: 0.3s;


*{
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
a{
  text-decoration: none;
}
html{
  font-size: 10px;
  line-height: 122%;
}
body{
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 1.8rem;
  line-height: 122%;
  color: #23262D;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  position: relative;
  flex: 1;
}
.full-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-title{
  font-weight: 700;
  font-size: 48vw * $px;
  line-height: 56vw * $px;
  color: #2E3A87;
  max-width: 960vw * $px;
  margin: 0 auto 14vw * $px auto;
  text-align: center;
}
.section-subtitle, .section-subtitle p{
  max-width: 960vw * $px;
  margin: 0 auto 14vw * $px auto;
  color: #232639;
  font-weight: 400;
  font-size: 18vw * $px;
  line-height: 151.4%;
  text-align: center;
}
div.button{
  display: inline-block;
  background: linear-gradient(88.72deg, #6E2AFF 1.13%, #50ABFF 234.23%);
  border-radius: 10vw * $px;
  padding: 2vw * $px 5vw * $px;
  font-weight: 500;
  font-size: 16vw * $px;
  line-height: 101.4%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button-blue{
  background: #2E3A87;
  border-radius: 50vw * $px;
  padding: 17vw * $px 30vw * $px;
  min-width: 320vw * $px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  span{
    z-index: 1;
    font-weight: 600;
    font-size: 16vw * $px;
    line-height: 118%;
    color: #ffffff;
    transition: $transition;
  }
}
.button-grey{
  background: #EDEFF7;
  border-radius: 50vw * $px;
  padding: 17vw * $px 30vw * $px;
  min-width: 320vw * $px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  span{
    z-index: 1;
    font-weight: 600;
    font-size: 16vw * $px;
    line-height: 118%;
    color: #C2C6DC;
    transition: $transition;
  }
}
.button-stroke{
  background: radial-gradient(90.03% 186.4% at 91.5% 97.89%, #00FFDB 0%, #00BBFF 100%);
  box-shadow: 0px 4vw * $px 18vw * $px rgba(0, 224, 255, 0);
  border-radius: 49vw * $px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15vw * $px 55vw * $px;
  position: relative;
  transition: $transition;
  cursor: pointer;
  svg{
    path{
      transition: $transition;
    }
  }
  &:before{
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 2px;
    top: 2px;
    content: "";
    display: block;
    background-color: white;
    border-radius: 49vw * $px;
    opacity: 1;
    transition: $transition;
  }
  span{
    z-index: 1;
    font-weight: 600;
    font-size: 16vw * $px;
    line-height: 118%;
    color: #2E3A87;
    transition: $transition;
  }
  &:hover{
    box-shadow: 0px 4vw * $px 18vw * $px rgba(0, 224, 255, 0.33);
    &:before{
      opacity: 0;
    }
    svg{
      path{
        fill: white;
      }
    }
    span{
      color: white;
    }
  }
}
body{
  background-color: white;
}
.main-container{
  max-width: 1920px;
  margin: auto;
  padding-right: 50vw * $px;
  padding-left: 50vw * $px;
}
.middle-container {
  max-width: 83.3333333333vw;
  margin: auto;
  padding-right: 2.6041666667vw;
  padding-left: 2.6041666667vw;
}
.padding-right{
  padding-right: 206vw * $px;
}
.padding-left{
  padding-left: 206vw * $px;
}
.big-padding-right{
  padding-right: 296vw * $px;
}
.big-padding-left{
  padding-left: 296vw * $px;
}
.header{
  padding-top: 3.6rem;
  padding-bottom: 4.2rem;
  .js-try{
    cursor: pointer;
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    margin-right: 6.7rem;
  }
  &__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  &__search{
    position: relative;
    max-width: 560vw * $px;
    width: 100%;
    form{
      button{
        background-color: transparent;
        border: none;
        width: 24vw * $px;
        height: 24vw * $px;
        position: absolute;
        top: calc(50% - 12px);
        right: 13vw * $px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      input{
        width: 100%;
        border: 1px solid #C2C6DC;
        box-sizing: border-box;
        border-radius: 40vw * $px;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 114%;
        color: black;
        padding: 17vw * $px 50vw * $px 17vw * $px 20vw * $px;
        &::placeholder{
          color: #C2C6DC;
        }
      }
    }
  }
  &__nav{
    margin: 0 15vw * $px;
    &-account{
      display: flex;
      align-items: center;
      margin-left: 169px;
      margin-bottom: 0;
      cursor: pointer;
      padding-left: 0;
      position: relative;
      &-all{
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        padding: 16px 31px;
        background: #FFFFFF;
        box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
        border-radius: 15px;
        z-index: 20;
        min-width: 259px;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        &.active{
          opacity: 1;
          pointer-events: auto;
        }
        .plan{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 14px;
          border-bottom: 1px dashed #C2C6DC;
          margin-bottom: 14px;
          &-name{
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #1972A4;
          }
          &-date{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            color: #C2C6DC;
          }
        }
        a{
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #232639;
          margin-bottom: 16px;
          display: inline-flex;
          align-items: center;
          transition: $transition;
          &:hover{
            color: #1972A4;
          }
          &:last-child{
            padding-top: 14px;
            border-top: 1px dashed #C2C6DC;
            margin-bottom: 0;

          }
          svg{
            margin-right: 10px;
          }
        }
      }
      svg{

      }
      .name{
        margin-right: 15px;
        display: inline-block;
        margin-left: 7px;
      }
    }
    &-list{
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    &-item{
      margin-left: 52vw * $px;
      margin-bottom: 0;
      padding-left: 0;
    }
    &-lnk, .name{
      font-weight: 500;
      font-size: 16vw * $px;
      line-height: 118%;
      color: #232639;
      white-space: nowrap;
    }
  }
  &__try{
    margin-left: 52vw * $px;
    span{
      white-space: nowrap;
    }
  }
}
.banner{
  padding-bottom: 50vw * $px;
  &__container{
    position: relative;
  }
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__ring{
    position: absolute;
    top: -15vw * $px;
    right: 261vw * $px;
    width: 812vw * $px;
    height: 812vw * $px;
  }
  &__note{
    position: absolute;
    top: 37vw * $px;
    right: -50vw * $px;
    width: 1038vw * $px;
    pointer-events: none;
  }
  &__content{
    padding-top: 142vw * $px;
    position: relative;
    max-width: 47.395833vw;
    padding-left: 210vw * $px;
  }
  &__title{
    font-weight: 700;
    font-size: 60vw * $px;
    line-height: 70vw * $px;
    color: #FFFFFF;
    margin-bottom: 30vw * $px;
  }
  &__subtitle{
    max-width: 549vw * $px;
    margin-bottom: 30vw * $px;
    p, li, span{
      font-weight: 400;
      font-size: 18vw * $px;
      line-height: 151.4%;
      color: #2E3A87;
    }
    li{
      position: relative;
      padding-left: 30px;
      &:before{
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background: #00FADE;
        border-radius: 50%;
        top: 9px;
        left: 10px;
      }
    }


  }
  &__design{
    margin-top: -32vw * $px;
    margin-left: -145vw * $px;
    pointer-events: none;
    width: 305vw * $px;
    height: auto;
    &-note{
      position: absolute;
      top: 119vw * $px;
      right: 110vw * $px;
    }
  }
  &__button{
    cursor: pointer;
    position: relative;
    svg{
      height: 20vw * $px;
      width: auto;
      position: absolute;
      top: 17vw * $px;
      left: 24vw * $px;
    }
  }
  &__brands{
    display: flex;
    align-items: center;
    margin-top: 144vw * $px;
    position: relative;
    padding-left: 104vw * $px;
    max-width: 1050vw * $px;
    &-item{
      margin-right: 66vw * $px;
    }
  }
}
.list{
  padding-top: 100vw * $px;
  padding-bottom: 60vw * $px;
  &__subtitle{
    p{
      margin: 0;
    }
  }
  &__content{
    margin-top: 38vw * $px;
    &-title{
      padding: 0 23vw * $px;
      font-weight: 400;
      font-size: 16vw * $px;
      line-height: 151.4%;
      color: #232639;
    }
    &-img{
      border-radius: 15px;
      overflow: hidden;
      margin-bottom: 15px;
      display: inline-block;
    }
  }
  &__button{
    text-align: center;
    .button-stroke{
      padding: 20vw * $px 30vw * $px;
      svg{
        margin-left: 65vw * $px;
      }
    }
  }
}
.footer{
  position: relative;
  width: 100%;
  &__design{
    position: absolute;
    left: 0;
    bottom: 108vw * $px;
    width: 265vw * $px;
  }
  &__container{
    background-color: #2E3A87;
    border-radius: 45vw * $px 118vw * $px 0 0;
    padding: 59vw * $px 60vw * $px 40vw * $px 60vw * $px;
    position: relative;
  }
  &__menus{
    max-width: 753vw * $px;
    width: 100%;
  }
  &__logo{
    margin-right: 215vw * $px;
    width: 259vw * $px;
  }
  &__main{
    display: flex;
  }
  &__nav{
    display: flex;

    ul{
      width: 25%;
      margin-bottom: 0;
      li{
        margin-bottom: 14vw * $px;
        &:first-child{
          margin-bottom: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
        span{
          font-weight: 700;
          font-size: 18vw * $px;
          line-height: 21vw * $px;
          text-transform: uppercase;
          color: #00BBFF;
          margin-bottom: 24vw * $px;
          display: inline-block;
        }
        a{
          text-decoration: none;
          font-weight: 400;
          font-size: 16vw * $px;
          line-height: 19vw * $px;
          color: #FFFFFF;
        }
      }
    }
  }
  &__copyright{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 40vw * $px;
    left: 0;
    width: 100%;
    align-items: flex-end;
    &-desc{
      font-weight: 400;
      font-size: 14vw * $px;
      line-height: 16vw * $px;
      color: #FFFFFF;
      opacity: 0.5;
    }
    &-dis{
      width: 273vw * $px;
    }
  }
}
.plans{
  padding-top: 60vw * $px;
  padding-bottom: 196vw * $px;
  position: relative;
  &__rings{
    position: absolute;
    bottom: 0;
    left: calc(50% - (436vw * $px));
    width: 872vw * $px;
  }
  &__title{

  }
  &__subtitle{
    p{
      margin-bottom: 0;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 56vw * $px;
    position: relative;
  }
  &__design{
    position: absolute;
    right: -73vw * $px;
    top: -114vw * $px;
    z-index: -1;
    width: 145vw * $px;
  }

  &__item{
    width: 388vw * $px;
    padding: 47vw * $px 56vw * $px 42vw * $px 56vw * $px;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    position: relative;
    &:nth-child(1){
      background: #EDEFF7;
      box-shadow: 0px 28px 84px -15px #E5E8F1;
      .plans__item-name{
        color: #C2C6DC;
      }
      .plans__item-price{
        color: #232639;
        border-bottom: 1px dashed #C2C6DC;
      }
      .plans__item-type{
        color: #C2C6DC;
      }
      .plans__item-value{
        color: #232639;
      }
      .plans__item-button{
        background: #2E3A87;
        &:hover{
          span{
            color: white;
          }
        }
        span{
          color: #2E3A87;
        }
        &:before{
          background: #EDEFF7;
        }
      }
    }
    &:nth-child(2n){
      background: #1972A4;
      box-shadow: 0px 28px 84px -15px rgba(25, 114, 164, 0.58);
      .plans__item-name{
        color: #00BBFF;
      }
      .plans__item-price{
        color: #FFFFFF;
        border-bottom: 1px dashed #51A0CD;
      }
      .plans__item-type{
        color: #51A0CD;
      }
      .plans__item-value{
        color: #FFFFFF;
      }
      .plans__item-button{
        span{
          color: #FFFFFF;
        }
        &:before{
          background: #1972A4;
        }
      }
    }
    &:nth-child(3n){
      background: #00BBFF;
      box-shadow: 0px 28px 84px -15px rgba(0, 187, 255, 0.54);
      .plans__item-name{
        color: #FFFFFF;
      }
      .plans__item-price{
        color: #FFFFFF;
        border-bottom: 1px dashed #226E99;
      }
      .plans__item-type{
        color: #226E99;
      }
      .plans__item-value{
        color: #FFFFFF;
      }
      .plans__item-button{
        background: #FFFFFF;
        &:hover{
          &:before{
            background: #FFFFFF;
          }
          span{
            color: #00BBFF;
          }
        }
        span{
          color: #FFFFFF;
        }
        &:before{
          background: #00BBFF;
        }
      }
    }
    &-subs{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex: 1;
      margin-top: 61vw * $px;
    }
    &-button{
      min-width: 225vw * $px;
      font-weight: 600;
      font-size: 16vw * $px;
      line-height: 19vw * $px;
      padding: 20vw * $px;
    }
    &-name{
      font-weight: 700;
      font-size: 24vw * $px;
      line-height: 28vw * $px;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      margin-bottom: 28vw * $px;
    }
    &-price{
      font-weight: 700;
      font-size: 24vw * $px;
      line-height: 28vw * $px;
      text-align: center;
      margin-bottom: 41vw * $px;
      padding-bottom: 45vw * $px;
      span{
        font-size: 64vw * $px;
        line-height: 75vw * $px;
      }
    }
    &-iteration{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24vw * $px;
    }
    &-type{
      font-weight: 600;
      font-size: 14vw * $px;
      line-height: 16vw * $px;
      text-transform: uppercase;
    }
    &-value{
      font-weight: 500;
      font-size: 18vw * $px;
      line-height: 100%;
    }
  }
}
.unique{
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  &__design{
    position: absolute;
    width: 305vw * $px;
    right: 50vw * $px;
    bottom: 110vw * $px;
  }
  &__text{
    padding-top: 215vw * $px;
    width: 723vw * $px;
    padding-left: 155vw * $px;
  }
  &__image{
    width: 780vw * $px;
    padding-right: 210vw * $px;
    position: relative;
    img{
      width: 100%;
    }
  }
  &__ring{
    position: absolute;
    width: 872vw * $px;
    bottom: -360vw * $px;
    left: -360vw * $px;
    z-index: -1;

  }
  &__title{
    line-height: 56vw * $px;
    color: #2E3A87;
    font-size: 48vw * $px;
  }
  &__subtitle{
    font-size: 18vw * $px;
    margin-top: 40vw * $px;
    line-height: 151.4%;
    color: #232639;
  }
  &__btn{
    margin-top: 50vw * $px;
    padding: 20vw * $px 40vw * $px;
    min-width: 323vw * $px;
    &:before{
      background: transparent;
    }
    span{
      color: white;
      font-size: 16vw * $px;
    }
  }
}
.most{
  padding-top: 206vw * $px;
  padding-bottom: 68vw * $px;
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image{
    position: relative;
    width: 946vw * $px;
  }
  &__text{
    width: 799vw * $px;
    padding-right: 205vw * $px;
  }
  &__ring{
    position: absolute;
    top: -166vw * $px;
    right: -211vw * $px;
    z-index: -1;
    width: 872vw * $px;
  }
  &__title{
    line-height: 56vw * $px;
    color: #2E3A87;
    font-size: 48vw * $px;
    margin-top: 102vw * $px;
    text-align: left;
    margin-bottom: 43vw * $px;
  }
  &__subtitle{
    text-align: left;
    &-header{
      font-weight: 500;
      font-size: 24vw * $px;
      line-height: 151.4%;
      color: #2E3A87;
      margin-bottom: 10vw * $px;
    }
    &-desc{
      text-align: left;
      font-weight: 400;
      font-size: 18vw * $px;
      line-height: 151.4%;
      color: #232639;
      margin-bottom: 31vw * $px;
    }
  }
  &__btn{
    &:before{
      background: transparent;
    }
    span{
      color: white;
    }
  }
}
.body-fade{
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-popup {
  padding: 0;
  position: relative;
  max-width: 530px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.11);
  border-radius: 15px;
  .title {
    margin-top: 54px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__header .login-popup__tab{
    width: 50%;
    border-bottom: 3px solid #C2C6DC;
    text-align: center;
    padding: 22px 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #C2C6DC;
    &.active {
      border-bottom: 3px solid #2E3A87;
      color: #2E3A87;
      font-weight: 600;
    }
  }
  .tabs-content-item {
    display: none;
    width: 100%;
    padding: 60px 68px 38px 68px;
    form {
      width: 100%;
    }
    &.active {
      display: flex;
    }
  }
  &__close {
    position: fixed;
    top: 45px;
    right: 58px;
    cursor: pointer;
  }
  .bottom {
    margin-top: 20px;
    text-align: center;
  }
  button {
    margin-top: 46px;
    width: 100%;
    border: none;
    padding: 20px;
    &:before {
      display: none;
    }
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
    }
  }
  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
    flex-wrap: wrap;
    &-google {
      width: 100%;
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      padding: 21px 20px 20px 20px;
      background: #4285F4;
      border-radius: 52px;
      text-align: center;
      svg {
        position: absolute;
        top: 4px;
        left: 4px;
        height: calc(100% - 8px);
        width: auto;
      }
    }
  }
}


.login-popup .form-header .title,
.login-popup .form-header .devider {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2E3A87;
  cursor: pointer;
}

.login-popup .form-header .devider {
  margin: 0 10px;
  text-decoration: none;
}

.login-popup .else {
  text-decoration: underline;
  color: #1d8fbd;
  cursor: pointer;
  margin-left: 20px;
}

.login-popup .recovery {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #C2C6DC;
}

.login-popup .group {
  text-align: right;
}

.login-popup .group label {
  width: 100%;
  display: block;
  margin-bottom: 14px;
}

.login-popup .group label.flex {
  display: -ms-flexbox;
  display: flex;
}

.login-popup .group label input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C2C6DC;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2E3A87;
  padding: 22px 20px 12px 24px;
}

.login-popup .group label input:focus {
  border: 1px solid #2E3A87;
}

.login-popup .group label input:not(:-moz-placeholder-shown) {
  border: 1px solid #2E3A87;
}

.login-popup .group label input:not(:-ms-input-placeholder) {
  border: 1px solid #2E3A87;
}

.login-popup .group label input:not(:placeholder-shown) {
  border: 1px solid #2E3A87;
}
.mockups-page{
  &__header{
    display: none;
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__aside{
    width: 288px;
    &-header{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      span{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        margin-left: 26px;
        display: inline-block;
        color: #2E3A87;
      }
    }
  }
  &__group-title {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.4%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #C2C6DC;
    margin-bottom: 28px;
    .line {
      margin-left: 16px;
      flex: 1;
      display: block;
      border-bottom: 1px solid #C2C6DC;
      height: 18px;
    }
  }
  &__group{
    margin-top: 40px;
    &:nth-child(2){
      margin-top: 0;
    }
  }
  &__group-item{
    margin-bottom: 15px;
    display: block;
    &:last-child{
      margin-bottom: 0;
    }
    input{
      display: none;
      &:checked ~ span{
        &:before{
          content: "";
          background-image: url("/../img/templates/mockups/checked.svg");
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
          background-color: #1972A4;
          border: 1px solid #1972A4;
        }
      }
    }
    span{
      font-weight: 400;
      font-size: 16px;
      line-height: 151.4%;
      color: #232639;
      display: flex;
      align-items: center;
      &:before{
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 1px solid #EDEFF7;
        border-radius: 3px;
        margin-right: 19px;
      }
    }
  }
  &__content{
    width: calc(100% - 308px);
  }
  &__result{
    &-fav{
      position: absolute;
      top: 14px;
      right: 14px;
    }
    &-item{
      position: relative;
    }
    &-content{

    }
    &-title{
      font-weight: 400;
      font-size: 16px;
      line-height: 151.4%;
      color: #232639;
      margin-top: 15px;
      padding: 0 23px;
    }
  }
  &__sort{
    background: #EDEFF7;
    border-radius: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
    .load-img{
      position: relative;
      text-align: center;
      padding: 20px;
      span{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }
      svg{
        position: absolute;
        left: 20px;
        top: 16px;
      }
    }
  }
  &__sorted{
    display: flex;
    align-items: center;
    padding-right: 12px;
    span{
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #2E3A87;
      margin-right: 20px;
    }
  }
  &__prews{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  &__prew{
    padding: 4px;
    position: relative;
    border: 2px solid transparent;
    border-radius: 13px;
    margin-right: 10px;
    height: 140px;
    img{
      height: 100%;
      width: auto;
    }
    &.active{
      border: 2px solid #1972A4;
      border-radius: 13px;
    }
    .delete{
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
    .crop{
      position: absolute;
      right: 16px;
      bottom: 16px;
      cursor: pointer;
    }
    img{
      border-radius: 10px;
      overflow: hidden;
    }
  }
  &__dinamic{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
    &-item{
      margin-right: 18px;
      margin-bottom: 14px;
      background: #EDEFF7;
      border-radius: 51px;
      padding: 9px 16px 9px 20px;
      display: flex;
      align-items: center;
      span{
        font-weight: 400;
        font-size: 16px;
        line-height: 151.4%;
        color: #232639;
      }
      svg{
        margin-left: 35px;
        cursor: pointer;
      }
    }
  }
}
.secure-payment{
  padding-top: 97px;
  padding-bottom: 160px;
  overflow: hidden;
  &__container{
    position: relative;
  }
  &__design{
    &-right{
      position: absolute;
      top: 153px;
      right: calc((100vw - 1500px) / 2);
    }
    &-rings{
      position: absolute;
      bottom: -460px;
      left: calc(50% - 436px);
      z-index: -1;
    }
  }
  &__title{
    margin-bottom: 97px;
  }
  &__subtitle{

  }
  &__items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__item{
    width: 264px;
    margin: 0 63px;
    text-align: center;
    &-icon{
      margin-bottom: 51px;
    }
    &-title{
      font-weight: 700;
      font-size: 18px;
      line-height: 151.4%;
      color: #2E3A87;
      text-align: center;
      margin-bottom: 1em;
    }
    &-desc{
      p{

      }
    }
  }
}
.choose-plan{
  background: linear-gradient(180deg, rgba(247, 251, 252, 0) 0%, #F7FBFC 100%);
  padding-bottom: 121px;
  &__container{

  }
  &__title{

  }
  &__subtitle{
    margin-bottom: 87px;
  }
  &__table{
    background: #FFFFFF;
    box-shadow: 0px 4px 48px #EDEFF7;
    border-radius: 20px;
    display: flex;
  }
  &__column{
    &-hr{
      height: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .name{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #C2C6DC;
        margin-bottom: 19px;
      }
      .prise{
        margin-bottom: 6px;
        span{
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: #2E3A87;
        }
        .digit{
          font-weight: 700;
          font-size: 48px;
          line-height: 56px;
          text-align: center;
          letter-spacing: 0.07em;
          text-transform: uppercase;
          color: #2E3A87;
        }
      }
    }
  }
}
.single-mockup{
  &__container{

  }
  &__header{

  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__aside{
    width: calc(30.5% - 4px);
    display: flex;
    flex-wrap: wrap;
  }
  &__button{
    margin-bottom: 44px;
  }
  .mockups-page__prews{
    display: flex;
    flex-wrap: wrap;
  }
  .mockups-page__prew{
    margin-bottom: 16px;
    max-width: 45%;
    margin-right: 14px;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
  &__main{
    width: 39%;
    &-img{
      position: relative;
      .def{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__downloads{
    width: calc(30.5% - 40px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.choose-plan {
  background: linear-gradient(180deg, rgba(247, 251, 252, 0) 0%, #F7FBFC 100%);
  padding-bottom: 121px;
}

.choose-plan__subtitle {
  margin-bottom: 87px;
}

.choose-plan__table {
  background: #FFFFFF;
  box-shadow: 0px 4px 48px #EDEFF7;
  border-radius: 20px;
  display: -ms-flexbox;
  display: flex;
}

.choose-plan__column {
  -ms-flex: 1;
  flex: 1;
  transition: 0.2s;
  position: relative;
}

.choose-plan__column .popular {
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.choose-plan__column .span {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  opacity: 0;
  transition: 0.2s ease-in;
  display: block;
  width: 100%;
}

.choose-plan__column:not(:first-child) .choose-plan__column-row {
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.choose-plan__column:not(:first-child):hover,
.choose-plan__column:not(:first-child).active {
  box-shadow: 0px 0px 24px rgba(194, 198, 220, 0.29);
}

.choose-plan__column:not(:first-child):hover .span,
.choose-plan__column:not(:first-child).active .span {
  opacity: 1;
}

.choose-plan__column-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.choose-plan__column-hr {
  height: 220px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.choose-plan__column-hr .name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.choose-plan__column-hr .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2E3A87;
}

.choose-plan__column-hr .prise {
  margin-bottom: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}

.choose-plan__column-hr .prise span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #2E3A87;
  margin-bottom: 6px;
}

.choose-plan__column-hr .prise .digit {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #2E3A87;
}

.choose-plan__column-row {
  padding: 10px 2.1875vw 10px 2.1875vw;
  border-bottom: 1px dashed #C2C6DC;
  min-height: 56px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.choose-plan__column-row:nth-last-child(-n+1) {
  border-bottom: none;
}

.choose-plan__column-row.header-row {
  background-color: #EDEFF7;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2E3A87;
  border-bottom: none;
}
.cabinet{
  &__container{
    display: flex;
    flex-wrap: wrap;
  }
  &__aside{
    width: 308px;
    padding-right: 68px;
    display: flex;
    flex-direction: column;
    .button-blue{
      min-width: auto;
      width: 100%;
    }
    &-item{
      padding: 18px 30px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      min-width: auto;
      margin-bottom: 30px;
      &.active{
        background-color: #2E3A87;
        color: #FFFFFF;
        svg{
          path{
            fill: #FFFFFF;
          }
        }
      }
      svg{
        margin-right: 10px;
      }
    }
  }
  &__main{
    width: calc(100% - 308px);
    &-item{
      display: none;
      width: 100%;
      flex-wrap: wrap;
      &.active{
        display: flex;
      }
      .mockups-page__result{
        width: 100%;
      }
      .pagination{
        width: 100%;
      }
    }
    &-personal{
      //display: flex;
      flex-wrap: wrap;
      .wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 46px;
        &__item{
          width: 100%;
          position: relative;
          margin-bottom: 20px;
          span{
            position: absolute;
            left: 24px;
            top: 8px;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #C2C6DC;
          }
        }
        .button-grey{
          border: none;
          margin-top: 40px;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #C2C6DC;
        }
        &-name{
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.035em;
          color: #232639;
          margin-bottom: 30px;
          width: 100%;
        }
        input{
          background-color: #FFFFFF;
          border: 1px solid #C2C6DC;
          border-radius: 5px;
          padding: 17px 24px;
          width: calc(100% - 160px);
          margin-right: 19px;
          &::placeholder{
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.17em;
            color: #C2C6DC;
          }
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #2E3A87;
        }
      }
    }
    &-payment{
      width: 50%;
      padding-right: 85px;
    }
    &-invoice{
      width: 50%;
      .wrapper{
        width: 100%;
      }
      table{
        width: 100%;
        thead{
          tr{
            border: none;
            th{
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: #C2C6DC;
              border: none;
              padding: 16px 24px;
              text-align: left;
              width: 40%;
              &:last-child{
                width: 20%;
                text-align: right;
              }
            }
          }
        }
        tbody{
          tr{
            border: none;
            &:nth-child(odd){
              background-color: #EDEFF7;
            }
          }
        }
        td{
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #2E3A87;
          border: none;
          padding: 16px 24px;
          text-align: left;
          width: 40%;
          &:last-child{
            text-align: right;
            width: 20%;
          }
          &:first-child{
            color: #000000;
            font-weight: 400;
          }
        }
      }
    }
  }
}